*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
body{
    overflow: hidden;
}
#logo{
    font-weight: 600;
    font-size: 28px;
}
 nav a{
    color: black;
font-weight: 500;
font-size: 18px;
    text-decoration: none;
 }

nav #a:hover{
    border-bottom: 2px solid orangered;
}
 nav a:active{
    text-decoration: none;
 }
 footer{
    text-align: center;
    background-color: grey;
    height: 50px;
position: relative;
top:370px;
 }

 @media(max-width:600px){
    body{
        overflow: scroll;
    }
 }